
.footer {
    margin-top: 180px;
    padding-left: 50px;
    padding-bottom: 82px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.address {
  max-width: 225px;
  height: 98px;
  justify-self: start;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.address > a {
  text-decoration: none;
  border-bottom: 1px solid black;
  width: min-content;
  text-wrap-mode: nowrap;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-content:normal;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-right: 25px;
    text-underline-offset:4px;
    justify-content: center; 
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none
}

.footer__menu-list-item {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap:48px;
    width: 240px;
    height: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}