.header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 90px 50px 90px 50px;
}

.header__menu {
 
}

.header__links-list {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    gap: 30px;
    list-style: circle;
   
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {

}

.header__link {
 text-decoration: none;
 border-bottom: 1px solid black;
}

.header__logo {

}

.header__logo-image {
width: 148px;
height: 105px;

}

.header__address {
  max-width: 225px;
  height: 98px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.header__address > a {
  text-decoration: none;
  border-bottom: 1px solid black;
  width: min-content;
  text-wrap-mode: nowrap;
}
